@font-face {
  font-family: "PixelOperator";
  src: url("fonts/PixelOperator.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #000;
  color: #fff;
  max-width: 700px;
  margin: 40px auto;
  line-height: 1.4;
  font-family: "PixelOperator", monospace;
}

a {
  color: #ff0d0d;
  text-decoration: none;
}

a:hover {
  color: #d40f0f;
  transition: ease-in;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

.site-title {
  color: #ff0d0d;
  font-size: 10rem;
  margin: 0;
}

.site-title.small {
  font-size: 6rem;
}

.site-subtitle {
  font-size: 2rem;
  margin: 0;
}

.post-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.post-list li {
  margin: 12px 0;
}

.post-link {
  font-size: 1.5rem;
}

.post-title {
  font-size: 4rem;
  margin: 0;
}

.post-content {
  margin-top: 20px;
}

.back-link {
  display: inline-block;
  margin-bottom: 10px;
}

.post-date {
  display: block;
  font-size: 1rem;
  opacity: 0.7;
  margin-top: 4px;
}

.post-item {
  margin: 16px 0;
}